services:
  jenkins:
    build:
      context: ./jenkins
    container_name: jenkins
    user: root
    ports:
      - "8082:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
      # Colima Docker socket -> inside Jenkins as /var/run/docker.sock
#      - /Users/aliya.hadi/.colima/default/docker.sock:/var/run/docker.sock -> try to create in local machine
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

volumes:
  jenkins_home: